<!DOCTYPE html>
<html>
<head>
	<title>Demo</title>
	<script type="jquery.js"></script>
	<script type="socket.io/socket.io.js"></script>
	<script>
		var socket=io("http://localhost:3000/");
		$(document).ready(function(){

		});
	</script>
</head>
<body>

</body>
</html>